language: csharp
solution: HarNetCore.sln
sudo: false
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
os:
  - linux
branches:
  only:
    - master
    - release
mono: none
dotnet: 1.0.4
dist: trusty
script:
  - dotnet restore
  - dotnet pack --include-symbols --configuration \"Release\" /p:Version=$TRAVIS_TAG
  - dotnet nuget push .\src\HarNetCore\bin\Release\HarnetCore.$TRAVIS_TAG.nupkg -k $NUGETAPI -s https://nuget.org/